@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerExtraBold.woff") format("woff"), url("../fonts/muller/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerBold.woff") format("woff"), url("../fonts/muller/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerMedium.woff") format("woff"), url("../fonts/muller/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerRegular.woff") format("woff"), url("../fonts/muller/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerLight.woff") format("woff"), url("../fonts/muller/MullerLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opinion";
  src: url("../fonts/opinion/OpinionProCondensed-Light.woff") format("woff"), url("../fonts/opinion/OpinionProCondensed-Light.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opinion";
  src: url("../fonts/opinion/OpinionProExtraCondensed-Light.woff") format("woff"), url("../fonts/opinion/OpinionProExtraCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Muller", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
  color: #323232;
}

.button {
  font-family: "Muller", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 110%;
  font-style: normal;
  color: #fff;
  background: #FF8B00;
  box-shadow: 0px 0px 32.9658px rgba(255, 139, 0, 0.2), inset 0px 3px 4px rgba(119, 119, 119, 0.25);
  border-radius: 65px;
  padding: 28px 0;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #FF8B00;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background: #fff;
}
.button--back {
  background: #FFBD00;
  color: #104235;
}
.button--effect {
  position: relative;
  overflow: hidden;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  -webkit-animation: toRight 6s infinite;
  animation: toRight 6s infinite;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.input:focus {
  outline: none;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "Opinion", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  margin: auto;
  color: #000000;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes inTop {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes inTop {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
}
.modal__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}