@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerExtraBold.woff") format("woff"), url("../fonts/muller/MullerExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerBold.woff") format("woff"), url("../fonts/muller/MullerBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerMedium.woff") format("woff"), url("../fonts/muller/MullerMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerRegular.woff") format("woff"), url("../fonts/muller/MullerRegular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Muller";
  src: url("../fonts/muller/MullerLight.woff") format("woff"), url("../fonts/muller/MullerLight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opinion";
  src: url("../fonts/opinion/OpinionProCondensed-Light.woff") format("woff"), url("../fonts/opinion/OpinionProCondensed-Light.woff2") format("woff2");
  font-weight: 350;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Opinion";
  src: url("../fonts/opinion/OpinionProExtraCondensed-Light.woff") format("woff"), url("../fonts/opinion/OpinionProExtraCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none; /* 1 */
  text-decoration: underline; /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted; /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace; /* 1 */
  font-size: 1em; /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input { /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select { /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box; /* 1 */
  color: inherit; /* 2 */
  display: table; /* 1 */
  max-width: 100%; /* 1 */
  padding: 0; /* 3 */
  white-space: normal; /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield; /* 1 */
  outline-offset: -2px; /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button; /* 1 */
  font: inherit; /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
}

body {
  font-family: "Muller", sans-serif;
  font-size: 15px;
  font-style: normal;
  line-height: 120%;
  font-weight: 500;
  color: #323232;
}

.button {
  font-family: "Muller", sans-serif;
  font-size: 20px;
  font-weight: normal;
  line-height: 110%;
  font-style: normal;
  color: #fff;
  background: #FF8B00;
  box-shadow: 0px 0px 32.9658px rgba(255, 139, 0, 0.2), inset 0px 3px 4px rgba(119, 119, 119, 0.25);
  border-radius: 65px;
  padding: 26px 0;
  transition: 0.3s;
  cursor: pointer;
  border: 2px solid #FF8B00;
  display: inline-block;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background: #fff;
  color: #000;
}
.button--back {
  background: #FFBD00;
  color: #104235;
}
.button--effect {
  position: relative;
  overflow: hidden;
}
.button--effect:hover {
  transform: none;
}
.button--effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 200%;
  transform: translateY(-50%);
  background: linear-gradient(to right top, transparent 29%, rgba(255, 255, 255, 0.8) 29% 32%, transparent 32% 35%, rgba(255, 255, 255, 0.8) 35% 40%, transparent 42% 45%, rgba(67, 66, 66, 0.7) 45% 55%, transparent 55% 58%, rgba(255, 255, 255, 0.8) 58% 61%, transparent 61%);
  opacity: 0.3;
  left: 0;
  top: 0;
  transition: 0.8s;
  z-index: 3;
  -webkit-animation: toRight 6s infinite;
  animation: toRight 6s infinite;
}

.textarea {
  resize: none;
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.textarea:focus {
  outline: none;
}

.input {
  width: 100%;
  padding: 18px 30px;
  border: 1px solid #DDB093;
  border-radius: 11px;
  background: #fff;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.input:focus {
  outline: none;
}

.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
}

.section {
  max-width: 1920px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.section__title {
  font-family: "Opinion", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 100%;
  text-align: center;
  margin: auto;
  color: #000000;
  text-transform: uppercase;
}

.container {
  max-width: 1160px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.row-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@-webkit-keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}

@keyframes toRight {
  0% {
    left: -100%;
  }
  85% {
    left: -100%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes inTop {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@keyframes inTop {
  0% {
    top: -100%;
  }
  100% {
    top: 0;
  }
}
@-webkit-keyframes inRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: 0;
  }
}
@keyframes inRight {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: 0;
  }
}
.header {
  padding-top: 30px;
  margin-bottom: -98px;
}
.header__burger {
  display: none;
  width: 28px;
  height: 20px;
  cursor: pointer;
}
.header__burger__line {
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background: #0385CA;
}
.header__phone {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 100%;
  color: #494C50;
  display: flex;
  align-items: center;
}
.header__phone img {
  margin-right: 9px;
}
.header__link {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  color: #494C50;
  margin-right: 45px;
}
.header__link:last-child {
  margin-right: 0;
}
.header__box {
  align-items: flex-end;
}
.header__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #494C50;
  padding-bottom: 15px;
}
.header__logo {
  margin-right: 22px;
}
.header a {
  text-decoration: none;
}

.main {
  background: url(../img/main/bg.png) no-repeat left bottom/cover;
  padding-top: 80px;
  padding-bottom: 354px;
  margin-bottom: -230px;
}
.main__img {
  display: none;
  margin: auto;
}
.main__card {
  margin-right: 40px;
  display: flex;
  align-items: flex-start;
}
.main__card:last-child {
  margin-right: 0;
  margin-bottom: 0;
}
.main__card__box {
  max-width: 190px;
}
.main__card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
  margin-bottom: 5px;
}
.main__card__text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #494C50;
}
.main__card__img {
  min-width: 60px;
  height: 60px;
  background: #AFD8EF;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
}
.main__footer {
  display: flex;
}
.main__button-wrap {
  display: flex;
  align-items: center;
}
.main__text {
  font-style: normal;
  font-weight: bold;
  font-size: 17px;
  line-height: 120%;
  color: #494C50;
}
.main__button {
  width: 290px;
  margin-right: 25px;
}
.main__box {
  max-width: 575px;
  margin-bottom: 50px;
}
.main__wrap {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.main__item {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  text-transform: uppercase;
  color: #000000;
  padding: 21px 37px;
  border: 2px solid #0385CA;
  border-radius: 64px;
  margin-right: 14px;
  margin-bottom: 14px;
}
.main__title {
  text-align: left;
  margin-bottom: 13px;
}
.main__title span {
  color: #0385CA;
}
.main__container {
  padding-top: 90px;
  background: url(../img/main/img.png) no-repeat right top/contain;
}

.advantages__card:nth-child(1) {
  z-index: 1;
  transform: translateY(-0px);
}

.advantages__card:nth-child(2) {
  z-index: 2;
  transform: translateY(-26px);
}

.advantages__card:nth-child(3) {
  z-index: 3;
  transform: translateY(-52px);
}

.advantages__card:nth-child(4) {
  z-index: 4;
  transform: translateY(-78px);
}

.advantages__container {
  max-width: 1110px;
}
.advantages__card {
  position: relative;
  width: 208px;
  height: 218px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
  padding: 5px;
}
.advantages__card__text {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  color: #323232;
  max-width: 122px;
}
.advantages__card__logo {
  margin-bottom: 25px;
}
.advantages__card__content {
  position: relative;
  z-index: 1;
  width: 100%;
  height: 100%;
  border: 2px dashed #0385CA;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.1));
  border-radius: 20px;
  padding: 25px 20px 20px 30px;
}
.advantages__card__img {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 0;
}
.advantages__card__img--1 {
  transform: translate(50%, -30%);
}
.advantages__card__img--2 {
  transform: translate(80%, 0);
}
.advantages__card__img--3 {
  transform: translate(70%, -35%);
}
.advantages__card__img--4 {
  display: none;
}

.calc {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
}
.calc__row {
  position: relative;
}
.calc__row::before {
  content: "";
  position: absolute;
  width: 1px;
  height: 100%;
  left: calc(50% + 30px);
  top: 0;
  background: linear-gradient(to bottom, transparent, #323232, transparent);
}
.calc__button {
  width: 330px;
}
.calc__wrap {
  width: 50%;
}
.calc__wrap--2 {
  padding-left: 80px;
}
.calc__wrap__row {
  margin-bottom: 44px;
}
.calc__wrap__text {
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 100%;
  color: #494C50;
  margin-bottom: 35px;
}
.calc__wrap__card {
  width: 60%;
  margin-right: 10px;
}
.calc__wrap__card:last-child {
  margin-right: 0;
  width: 40%;
}
.calc__wrap__card__title {
  font-style: normal;
  font-weight: 800;
  font-size: 35px;
  line-height: 100%;
  color: #020202;
  margin-bottom: 10px;
}
.calc__wrap__card__text {
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 100%;
  color: #323232;
}
.calc__wrap__title {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
  margin-bottom: 60px;
}
.calc__wrap__title span {
  font-weight: 800;
}
.calc__title {
  text-align: left;
  margin-bottom: 27px;
}
.calc__img {
  position: absolute;
}
.calc__img--1 {
  z-index: 1;
  left: 50%;
  top: 40%;
  transform: translateX(-235%);
}
.calc__img--2 {
  z-index: 2;
  right: -80px;
  top: -100px;
}
.calc__block {
  width: 455px;
  margin-bottom: 50px;
  position: relative;
}
.calc__block--last {
  margin-bottom: 0;
}
.calc__block__title {
  margin-bottom: 17px;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 100%;
  color: #323232;
}
.calc__box {
  background: #9ACEEA;
  border-radius: 50px;
  padding: 90px 105px;
  position: relative;
  z-index: 2;
}
.calc__field {
  font-style: normal;
  font-weight: normal;
  font-size: 39px;
  line-height: 100%;
  color: #000000;
  padding: 20px 30px 15px;
  background: #FFFFFF;
  border-radius: 12px 12px 0px 0px;
  width: 100%;
  border: none;
}
.calc__field:focus {
  outline: none;
}
.calc__field__text {
  position: absolute;
  right: 30px;
  bottom: 15px;
  font-weight: normal;
  font-size: 39px;
  line-height: 100%;
  color: #000000;
}
.calc__range-box {
  width: 100%;
}
.calc__range {
  position: relative;
  height: 3px;
  background: #f2f2f2;
}
.calc__range__input::-webkit-slider-thumb {
  width: 22px;
  height: 22px;
}
.calc__range__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 100%;
  position: absolute;
  z-index: 1;
  background: none;
  opacity: 0;
  cursor: pointer;
  height: 40px;
  left: 0px;
  top: -20px;
  line-height: 40px;
}
.calc__range__track {
  position: absolute;
  height: 100%;
  background: #0385CA;
  display: block;
  z-index: 2;
}
.calc__range__track:after {
  width: 16px;
  height: 16px;
  position: absolute;
  content: "";
  right: 0px;
  top: 50%;
  margin-top: -10px;
  cursor: pointer;
  z-index: 6;
  background: #fff;
  border-radius: 50%;
  background: #0385CA;
  border: 2px solid #FFFFFF;
  margin-right: -10px;
}
.calc__range-min-val {
  position: absolute;
  left: -2px;
  bottom: -22px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  color: #425A66;
}
.calc__range-max-val {
  position: absolute;
  right: -5px;
  bottom: -22px;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 100%;
  color: #425A66;
}

.help {
  position: relative;
  background: url(../img/help/bgTop.png) no-repeat center top, url(../img/help/bgBottom.png) no-repeat center bottom, linear-gradient(to bottom, #fff 577px, #D9EDF7 577px calc(100% - 311px), #fff calc(100% - 311px));
  padding-top: 650px;
  margin-top: -500px;
  padding-bottom: 308px;
  overflow: hidden;
}
.help__card {
  height: 195px;
  background: #fff;
  border-radius: 20px;
  color: #323232;
  transition: 0.3s;
  padding: 35px 33px;
  cursor: pointer;
}
.help__card__text {
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 120%;
  text-transform: uppercase;
}
.help__card__img {
  margin-bottom: 38px;
}
.help__card:hover {
  color: #fff;
  background: #0385CA;
}
.help__card:hover path {
  fill: #fff;
}
.help__row {
  display: grid;
  grid-template-columns: repeat(auto-fill, 260px);
  grid-gap: 40px;
  justify-content: center;
}
.help__title {
  max-width: 578px;
  margin-bottom: 84px;
}
.help__img {
  position: absolute;
}
.help__img--1 {
  right: calc(50% - 750px);
  top: 650px;
}
.help__img--2 {
  bottom: 0;
  left: calc(50% - 800px);
}

.terms {
  margin-bottom: 75px;
}
.terms__row {
  flex-wrap: wrap;
}
.terms__row--center {
  display: none;
  align-items: flex-end;
  transform: translateY(-14px);
}
.terms__row--center .terms__card:nth-child(1) .terms__card__img {
  margin-bottom: 24px;
}
.terms__row--center .terms__card:nth-child(1) .terms__card__content {
  transform: translateY(-30px);
}
.terms__row--center .terms__card:nth-child(2) {
  transform: translateY(54px);
}
.terms__row--center .terms__card:nth-child(2) .terms__card__content {
  transform: translateY(-42px);
}
.terms__row--1 .terms__card:nth-child(1) {
  height: 308px;
}
.terms__row--1 .terms__card:nth-child(2) .terms__card__content {
  transform: translateY(-40px);
}
.terms__row--1 .terms__card:nth-child(3) .terms__card__img {
  margin-bottom: 24px;
}
.terms__row--1 .terms__card:nth-child(3) .terms__card__content {
  transform: translateY(-30px);
}
.terms__row--2 {
  align-items: flex-end;
  transform: translateY(-14px);
}
.terms__row--2 .terms__card:nth-child(1) .terms__card__img {
  margin-bottom: 22px;
}
.terms__row--2 .terms__card:nth-child(1) .terms__card__content {
  transform: translateY(-27px);
}
.terms__row--2 .terms__card:nth-child(2) {
  height: 308px;
}
.terms__row--2 .terms__card:nth-child(2) .terms__card__img {
  margin-bottom: 6px;
}
.terms__row--2 .terms__card:nth-child(2) .terms__card__content {
  transform: translateY(-58px);
}
.terms__row--2 .terms__card:nth-child(3) {
  height: 308px;
}
.terms__row--2 .terms__card:nth-child(3) .terms__card__content {
  transform: translateY(-42px);
}
.terms__title {
  margin-bottom: 110px;
}
.terms__ul {
  list-style-type: none;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  line-height: 120%;
  color: #323232;
  max-width: 240px;
  margin: auto;
}
.terms__li {
  display: flex;
  align-items: flex-start;
  margin-bottom: 5px;
}
.terms__li:last-child {
  margin-bottom: 0;
}
.terms__li img {
  margin-right: 5px;
}
.terms__card {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px -3px rgba(3, 133, 202, 0.15);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  width: 100%;
  max-width: 360px;
  height: 362px;
  padding: 0 20px 20px;
}
.terms__card__title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #323232;
  max-width: 240px;
  margin: auto;
  margin-bottom: 25px;
}
.terms__card__img {
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.we {
  background: url(../img/we/bg.png) no-repeat center top;
  padding-top: 34px;
  padding-bottom: 100px;
  overflow: hidden;
  margin-bottom: 80px;
}
.we__card {
  width: 100%;
  padding: 16px 12px;
  background: #0385CA;
  border-radius: 40px;
  color: #fff;
  position: relative;
}
.we__card__img {
  position: absolute;
  z-index: 1;
  right: -70px;
  top: 55px;
}
.we__card__button {
  width: 290px;
}
.we__card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 25px;
  line-height: 100%;
  color: rgba(255, 255, 255, 0.8);
  max-width: 630px;
  margin-bottom: 60px;
  position: relative;
  z-index: 2;
}
.we__card__content {
  padding: 75px 88px 55px;
  border: 2px dashed #FFFFFF;
  border-radius: 40px;
}
.we__card__title {
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 70px;
  line-height: 100%;
  text-transform: uppercase;
  max-width: 670px;
  margin-bottom: 30px;
}
.we__container {
  padding-top: 200px;
  background: url(../img/we/img1.png) no-repeat right top;
}
.we__box {
  max-width: 572px;
  margin-bottom: 120px;
}
.we__title {
  text-align: left;
  margin-bottom: 44px;
}
.we__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #323232;
}
.we__text span {
  font-weight: bold;
}

.steps {
  position: relative;
  overflow: hidden;
}
.steps__row {
  margin-bottom: 86px;
}
.steps__button {
  display: block;
  width: 365px;
  margin: auto;
}
.steps__subtitle {
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  max-width: 717px;
  margin: auto;
  margin-bottom: 60px;
}
.steps__container {
  position: relative;
  z-index: 2;
}
.steps__img {
  position: absolute;
}
.steps__img--1 {
  z-index: 1;
  top: -50px;
  left: calc(50% - 600px);
}
.steps__img--2 {
  z-index: 3;
  right: calc(50% - 795px);
  bottom: -40px;
}
.steps__title {
  margin-bottom: 100px;
}
.steps__card {
  width: 360px;
  height: 277px;
  background: rgba(3, 133, 202, 0.5);
  border: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-backdrop-filter: blur(7.5px);
  backdrop-filter: blur(7.5px);
  border-radius: 20px;
  padding: 36px;
}
.steps__card__step {
  display: inline-block;
  background: rgba(3, 133, 202, 0.5);
  border: 2px solid #0385CA;
  border-radius: 50px;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FFFFFF;
  padding: 8px 18px;
  margin-bottom: 46px;
}
.steps__card__title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin-bottom: 24px;
}
.steps__card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 100%;
  color: #000000;
  max-width: 250px;
}

.fast {
  background: url(../img/fast/bgTop.png) no-repeat center top, linear-gradient(to bottom, transparent 474px, #0385CA 474px calc(100% - 290px), transparent calc(100% - 290px)), url(../img/fast/bgBottom.png) no-repeat center bottom;
  padding-top: 280px;
  padding-bottom: 68px;
  margin-top: -40px;
  margin-bottom: 60px;
}
.fast__title {
  color: #fff;
  margin-bottom: 112px;
}
.fast__card {
  width: 560px;
  background: #FFFFFF;
  border: 1px solid rgba(0, 0, 0, 0.1);
  box-shadow: 0px 0px 10px -3px rgba(3, 133, 202, 0.15);
  -webkit-backdrop-filter: blur(15px);
  backdrop-filter: blur(15px);
  border-radius: 20px;
  padding: 60px;
}
.fast__card:nth-child(2) .fast__card__title {
  color: #0385CA;
}
.fast__card:nth-child(2) .fast__card__box {
  background: rgba(3, 133, 202, 0.2);
}
.fast__card__title {
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  line-height: 100%;
  text-transform: uppercase;
  color: #FF0000;
  margin-bottom: 44px;
}
.fast__card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 403px;
}
.fast__card__text span {
  font-weight: 800;
}
.fast__card__box {
  margin-top: 34px;
  background: rgba(255, 0, 0, 0.2);
  border-radius: 20px;
  padding: 25px 38px;
}

.faq__button {
  display: block;
  width: 100%;
  max-width: 290px;
  margin: auto;
}
.faq__box {
  margin-bottom: 80px;
}
.faq__title {
  margin-bottom: 94px;
}
.faq__item {
  border-bottom: 1px solid #000000;
  margin-bottom: 25px;
  padding-bottom: 28px;
}
.faq__item:last-child {
  margin-bottom: 0;
}
.faq__item * {
  transition: 0.3s;
}
.faq__item--active {
  padding-bottom: 44px;
}
.faq__item--active .faq__item__img {
  transform: rotate(90deg);
}
.faq__item--active .faq__item__header {
  margin-bottom: 34px;
}
.faq__item__content {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.8);
  max-width: 560px;
  height: 0;
  overflow: hidden;
}
.faq__item__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.faq__item__title {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
  margin-right: 60px;
}

.reviews {
  padding-top: 305px;
  background: url(../img/reviews/bg.png) no-repeat center top, linear-gradient(to bottom, transparent 245px, #D9EDF7 245px);
  margin-top: -100px;
  padding-bottom: 134px;
}
.reviews__title {
  margin-bottom: 80px;
}
.reviews__card {
  width: 100%;
  max-width: 363px;
  height: 425px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.reviews__card::after {
  content: "";
  position: absolute;
  z-index: 2;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.reviews__card__img {
  position: relative;
  z-index: 1;
  max-width: none;
  -o-object-fit: cover;
  object-fit: cover;
}
.reviews__card__play {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 155px;
  height: 155px;
  border-radius: 50%;
  background: url(../img/reviews/play.png) no-repeat calc(50% + 5px) center, #0385CA;
  cursor: pointer;
}

.comments {
  background: #D9EDF7;
  padding: 0 10px;
  padding-bottom: 300px;
  margin-bottom: -200px;
}
.comments__progress {
  display: none;
  width: calc(100% - 40px);
  margin: auto;
  height: 2px;
  background: rgba(3, 133, 202, 0.6);
  border-radius: 2px;
  position: relative;
}
.comments__progress__inner {
  height: 6px;
  border-radius: 3px;
  position: absolute;
  top: -2px;
  left: 0;
  background: #0385CA;
  transition: 0.3s;
}
.comments__wrap {
  width: 100%;
  position: relative;
  padding: 0 70px;
}
.comments__arrow {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.comments__arrow--inactive {
  opacity: 0.4;
}
.comments__arrow--prev {
  background: url(../img/comments/prev.png) no-repeat center, rgba(3, 133, 202, 0.3);
  left: 0;
}
.comments__arrow--next {
  background: url(../img/comments/next.png) no-repeat center, rgba(3, 133, 202, 0.3);
  right: 0;
}
.comments__container {
  max-width: 1362px;
}
.comments__window {
  max-width: 1160px;
  margin: auto;
  overflow: hidden;
}
.comments__field {
  display: flex;
  transition: 0.3s;
}
.comments__title {
  margin-bottom: 76px;
}
.comments__card {
  min-width: 560px;
  min-height: 520px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #FFFFFF;
  border-radius: 30px;
  padding: 50px 60px 38px;
  margin-right: 40px;
}
.comments__card:last-child {
  margin-right: 0;
}
.comments__card__date {
  font-style: normal;
  font-weight: nornal;
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.8);
}
.comments__card__box {
  margin-bottom: 20px;
}
.comments__card__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 120%;
  color: rgba(0, 0, 0, 0.8);
}
.comments__card__name {
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 120%;
  text-transform: uppercase;
  color: #000000;
}
.comments__card__img {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 50%;
  margin-right: 40px;
}
.comments__card__header {
  display: flex;
  align-items: center;
  margin-bottom: 45px;
}

.footer {
  background: url(../img/footer/bg.png) no-repeat center top, linear-gradient(to bottom, transparent 260px, #0385CA 260px);
  padding-top: 170px;
  padding-bottom: 80px;
  color: #fff;
}
.footer__wrap__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 800;
  font-size: 17px;
  line-height: 100%;
  color: #FFFFFF;
}
.footer__wrap__link img {
  margin-right: 6px;
}
.footer__wrap__text {
  font-style: normal;
  font-weight: 4normal00;
  font-size: 18px;
  line-height: 110%;
}
.footer__wrap__text span {
  font-weight: 800;
}
.footer__wrap__text--2 {
  margin: 15px 0 56px;
}
.footer__box {
  max-width: 260px;
}
.footer__box__text {
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 100%;
}
.footer__box__text:first-child {
  margin-bottom: 20px;
}
.footer__nav {
  padding-top: 38px;
  margin-bottom: 56px;
}
.footer__nav__link {
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  color: #FFFFFF;
  display: block;
  margin-bottom: 15px;
}
.footer__nav__link:last-child {
  margin-bottom: 0;
}
.footer__logo {
  width: 260px;
  align-self: flex-start;
}
.footer__logo__img {
  margin-bottom: 6px;
}
.footer__logo__text {
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 16px;
  padding-left: 60px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.modal {
  position: fixed;
  z-index: 199;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
}
.modal--active {
  opacity: 1;
  visibility: visible;
}
.modal__container {
  min-height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}
.modal-main__button {
  width: 290px;
}
.modal-main__checkbox {
  display: none;
}
.modal-main__checkbox:checked + .modal-main__agree__ok {
  background: url(../img/modal/ok.png) no-repeat center, #FFFFFF;
}
.modal-main__agree {
  display: block;
  margin-bottom: 40px;
  width: 100%;
  max-width: 356px;
  padding-left: 42px;
  position: relative;
  cursor: pointer;
}
.modal-main__agree__ok {
  display: block;
  width: 20px;
  height: 20px;
  background: #FFFFFF;
  border-radius: 3px;
  position: absolute;
  left: 0;
  top: 0;
}
.modal-main__agree__text {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
}
.modal-main__agree__text a {
  color: #fff;
}
.modal-main__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.modal-main__input {
  display: block;
  width: 100%;
  background: #FFFFFF;
  border-radius: 11px;
  border: none;
  padding: 18px 30px;
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 25px;
  line-height: 100%;
  text-transform: uppercase;
  color: rgba(14, 14, 14, 0.5);
}
.modal-main__input:focus {
  outline: none;
}
.modal-main__input-group {
  position: relative;
  width: 100%;
  max-width: 356px;
  margin-bottom: 25px;
}
.modal-main__label {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  display: block;
  margin-bottom: 12px;
}
.modal-main__title {
  font-family: "Opinion";
  font-style: normal;
  font-weight: 300;
  font-size: 60px;
  line-height: 100%;
  text-transform: uppercase;
  margin-bottom: 45px;
}
.modal-main__close {
  position: absolute;
  cursor: pointer;
  top: 45px;
  right: 65px;
}
.modal-main__dialog {
  padding: 8px;
  background: #0385CA;
  border-radius: 40px;
  width: 100%;
  max-width: 950px;
}
.modal-main__content {
  border: 2px dashed #FFFFFF;
  border-radius: 40px;
  padding: 45px 90px;
  color: #fff;
  position: relative;
  background: url(../img/modal/img.png) no-repeat calc(100% - 50px) calc(100% - 50px);
}
.modal-video__container {
  position: relative;
  padding: 0;
}
.modal-video__dialog {
  position: relative;
  z-index: 1;
}
.modal-video__video {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
}
.modal-video__close {
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.menu {
  position: fixed;
  z-index: 198;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  justify-content: flex-end;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
  overflow: hidden;
  display: none;
}
.menu--active {
  visibility: visible;
  opacity: 1;
}
.menu--active .menu__dialog {
  transform: none;
}
.menu__dialog {
  position: relative;
  background: #fff;
  padding: 100px 50px;
  min-height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: 0.5s;
  transform: translateX(100%);
}
.menu__tel {
  font-style: normal;
  font-weight: 800;
  font-size: 20px;
  line-height: 100%;
  color: #494C50;
  text-decoration: none;
}
.menu__text {
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 100%;
  color: #494C50;
  margin-bottom: 35px;
}
.menu__box--1 {
  margin-bottom: 30px;
}
.menu__link {
  display: block;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 100%;
  color: #494C50;
  margin-bottom: 25px;
  text-decoration: none;
}
.menu__link:last-child {
  margin-bottom: 0;
}
.menu__logo {
  margin-bottom: 100px;
}
.menu__close {
  position: absolute;
  top: 50px;
  right: 50px;
  cursor: pointer;
}

@media screen and (max-width: 1200px) {
  .reviews {
    padding-bottom: 114px;
  }
  .reviews__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .reviews__card {
    margin: 20px;
  }
  .reviews__title {
    margin-bottom: 60px;
  }
  .fast__row {
    flex-direction: column;
    align-items: center;
  }
  .fast__card:nth-child(1) {
    margin-bottom: 40px;
  }
  .steps {
    padding: 0;
  }
  .steps__title {
    margin-bottom: 80px;
  }
  .steps__row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .steps__card {
    margin: 20px;
  }
  .steps__img--1 {
    left: 0;
  }
  .steps__img--2 {
    right: 0;
    bottom: 180px;
  }
  .we__container {
    background: url(../img/we/img1.png) no-repeat calc(100% + 50px) top;
  }
  .we__card__img {
    right: -32px;
    top: 110px;
  }
  .terms__row {
    max-width: 760px;
    margin: auto;
  }
  .terms__row--center {
    display: flex;
    margin-bottom: 40px;
  }
  .terms__row--1 .terms__card:nth-child(3) {
    display: none;
  }
  .terms__row--2 .terms__card:nth-child(3) {
    display: none;
  }
  .help__img--1 {
    top: 800px;
    right: calc(50% - 500px);
  }
  .help__img--2 {
    left: calc(50% - 300px);
  }
  .calc__row::before {
    left: calc(50% + 40px);
  }
  .calc__block {
    width: 100%;
  }
  .calc__box {
    padding: 40px;
  }
  .calc__img--2 {
    right: -10px;
  }
  .calc__img--1 {
    z-index: 3;
    transform: none;
    left: 0;
    top: 0;
  }
  .header {
    margin-bottom: -84px;
  }
  .header__phone {
    font-size: 15px;
  }
  .header__logo {
    margin-right: 10px;
  }
  .header__text {
    font-size: 12px;
    padding-bottom: 10px;
  }
  .header__link {
    margin-right: 20px;
  }
}
@media screen and (max-width: 991px) {
  .modal-main__button {
    width: 100%;
    padding: 24px 0;
  }
  .modal-main__agree {
    padding-left: 37px;
  }
  .modal-main__agree__text {
    font-size: 18px;
  }
  .modal-main__input {
    padding: 18px 25px;
  }
  .modal-main__label {
    font-size: 18px;
    margin-bottom: 9px;
  }
  .modal-main__title {
    font-size: 44px;
    margin-bottom: 30px;
  }
  .modal-main__close {
    top: 35px;
    right: 35px;
  }
  .modal-main__dialog {
    max-width: 400px;
    padding: 7px;
    border-radius: 20px;
  }
  .modal-main__content {
    border-radius: 20px;
    padding: 34px;
    background: none;
  }
  .footer {
    text-align: center;
    padding-bottom: 66px;
  }
  .footer__wrap {
    margin-bottom: 80px;
  }
  .footer__wrap__text--2 {
    margin: 15px 36px;
  }
  .footer__box {
    order: 2;
  }
  .footer__nav {
    padding: 0;
  }
  .footer__logo {
    align-self: auto;
    margin-bottom: 54px;
  }
  .footer__logo__img {
    margin-bottom: 44px;
  }
  .footer__logo__text {
    padding: 0;
    max-width: 170px;
    margin: auto;
  }
  .footer__row {
    flex-direction: column;
    align-items: center;
  }
  .comments {
    padding: 0;
    padding-bottom: 255px;
  }
  .comments__title {
    font-size: 44px;
    margin-bottom: 50px;
    padding: 0 20px;
  }
  .comments__field {
    padding-left: 20px;
  }
  .comments__card {
    min-width: 360px;
    min-height: 406px;
    padding: 30px;
    margin-right: 20px;
  }
  .comments__card:last-child {
    margin-right: 20px;
  }
  .comments__card__date {
    font-size: 18px;
  }
  .comments__card__name {
    font-size: 18px;
  }
  .comments__card__text {
    font-size: 16px;
  }
  .comments__arrow {
    display: none;
  }
  .comments__wrap {
    padding: 0;
    margin-bottom: 34px;
  }
  .comments__progress {
    display: block;
  }
  .reviews {
    padding-left: 0;
    padding-right: 0;
    padding-top: 225px;
    margin-top: -125px;
    padding-bottom: 74px;
  }
  .reviews__title {
    font-size: 44px;
    margin-bottom: 34px;
    padding: 0 20px;
  }
  .reviews__card {
    margin: 16px;
  }
  .faq__title {
    font-size: 44px;
    margin-bottom: 45px;
  }
  .faq__item {
    padding-bottom: 25px;
  }
  .faq__item--active {
    padding-bottom: 33px;
  }
  .faq__item--active .faq__item__header {
    margin-bottom: 15px;
  }
  .faq__item__title {
    font-size: 16px;
    margin-right: 30px;
  }
  .faq__item__content {
    font-size: 16px;
  }
  .fast {
    padding-top: 230px;
    margin-top: -100px;
    margin-bottom: 0;
  }
  .fast__row {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
  .fast__card {
    padding: 60px 30px 40px;
    width: 100%;
    max-width: 360px;
    margin: 12px !important;
  }
  .fast__card__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .fast__card__text {
    font-size: 18px;
  }
  .fast__card__box {
    margin-top: 30px;
    padding: 28px 18px;
  }
  .fast__card__box .fast__card__text {
    font-size: 15px;
  }
  .fast__title {
    font-size: 44px;
    margin-bottom: 40px;
  }
  .steps__subtitle {
    font-size: 20px;
    max-width: 450px;
    margin-bottom: 50px;
  }
  .steps__card {
    margin: 12px;
  }
  .steps__title {
    font-size: 44px;
    margin-bottom: 38px;
  }
  .we {
    padding-top: 140px;
    padding-bottom: 280px;
    margin-bottom: -150px;
  }
  .we__card {
    padding: 7px 5px;
  }
  .we__card__title {
    font-size: 35px;
    margin-bottom: 22px;
  }
  .we__card__text {
    font-size: 20px;
    margin-bottom: 42px;
  }
  .we__card__content {
    padding: 38px 25px 120px;
  }
  .we__box {
    margin: auto;
    margin-bottom: 60px;
    max-width: none;
  }
  .we__container {
    background: none;
    padding: 0;
  }
  .we__title {
    font-size: 44px;
    text-align: center;
    margin-bottom: 25px;
  }
  .terms {
    margin-bottom: 50px;
  }
  .terms__row {
    max-width: 720px;
  }
  .terms__card {
    max-width: 340px;
  }
  .terms__title {
    font-size: 44px;
    margin-bottom: 47px;
  }
  .help {
    margin-top: -270px;
    padding-top: 370px;
    padding-bottom: 270px;
  }
  .help__title {
    font-size: 44px;
    margin-bottom: 55px;
  }
  .help__row {
    grid-gap: 25px;
  }
  .help__img--1 {
    right: 0;
  }
  .help__img--2 {
    left: 0;
  }
  .calc__button {
    width: 100%;
    font-size: 16px;
    padding: 24px 0;
  }
  .calc__block__title {
    margin-bottom: 8px;
  }
  .calc__block__field {
    font-size: 36px;
  }
  .calc__wrap {
    width: 100%;
    max-width: 500px;
    padding: 0;
  }
  .calc__wrap--1 {
    margin-bottom: 70px;
  }
  .calc__wrap__text {
    text-align: center;
  }
  .calc__wrap__row {
    margin-bottom: 40px;
  }
  .calc__wrap__card {
    text-align: center;
  }
  .calc__wrap__title {
    text-align: center;
    font-size: 15px;
    margin-bottom: 35px;
  }
  .calc__box {
    padding: 100px 20px 50px;
  }
  .calc__title {
    text-align: center;
    font-size: 44px;
    margin-bottom: 30px;
  }
  .calc__row {
    flex-direction: column;
    align-items: center;
  }
  .calc__row::before {
    width: 100%;
    height: 1px;
    left: 0;
    top: auto;
    bottom: 350px;
    background: linear-gradient(to right, transparent, #323232, transparent);
  }
  .advantages {
    background: url(../img/advantages/bg.png) no-repeat center bottom;
    margin-bottom: -100px;
  }
  .advantages__card {
    margin-bottom: 68px;
  }
  .advantages__row {
    flex-wrap: wrap;
    max-width: 436px;
    margin: auto;
  }
  .main {
    padding-bottom: 270px;
    margin-bottom: -150px;
  }
  .main__wrap {
    margin-bottom: 20px;
  }
  .main__card {
    max-width: 240px;
    margin-right: 20px;
  }
  .main__card__box {
    max-width: none;
  }
  .main__card__text {
    font-size: 13px;
  }
  .main__card__title {
    font-size: 13px;
  }
  .main__card__img {
    min-width: 55px;
    height: 55px;
  }
  .main__text {
    font-size: 15px;
  }
  .main__button {
    padding: 23px 0;
    width: 246px;
    font-size: 16px;
  }
  .main__item {
    font-size: 11px;
    padding: 14px 26px;
    margin-right: 12px;
    margin-bottom: 12px;
  }
  .main__title {
    font-size: 44px;
  }
  .main__container {
    background: url(../img/main/imgM.png) no-repeat 80% top;
    padding-top: 50px;
  }
  .menu {
    display: flex;
  }
  .header__burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .header__logo {
    margin-right: 0;
  }
  .header__phone, .header__nav, .header__text {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  .modal-video__close {
    top: 10px;
    right: 10px;
  }
  .we {
    padding-bottom: 200px;
    margin-bottom: -80px;
  }
  .we__card__img {
    top: auto;
    bottom: -100px;
  }
  .terms__card {
    transform: none !important;
    margin-bottom: 30px;
    display: block !important;
  }
  .terms__card:last-child {
    margin-bottom: 0;
  }
  .terms__row {
    flex-direction: column;
    align-items: center;
    transform: none;
    margin-bottom: 30px;
  }
  .terms__row--center {
    display: none;
  }
  .terms__row--2 {
    display: flex;
    margin-bottom: 0;
  }
  .advantages {
    background: url(../img/advantages/bgM.png) no-repeat center top;
    padding-top: 80px;
    overflow: hidden;
  }
  .main {
    padding-top: 20px;
    padding-bottom: 30px;
    background: url(../img/main/bgM.png) no-repeat center;
    margin-bottom: -30px;
  }
  .main__card {
    margin-right: 0;
    margin-bottom: 25px;
  }
  .main__footer {
    flex-direction: column;
    align-items: center;
  }
  .main__text {
    text-align: center;
  }
  .main__button {
    margin-bottom: 18px;
    margin-right: 0;
  }
  .main__button-wrap {
    flex-direction: column;
  }
  .main__wrap {
    flex-direction: column-reverse;
    align-items: center;
  }
  .main__item {
    margin-right: 0;
    text-align: center;
  }
  .main__box {
    margin-left: auto;
    margin-right: auto;
  }
  .main__title {
    text-align: center;
  }
  .main__img {
    display: block;
    margin-bottom: -20px;
  }
  .main__container {
    background: none;
  }
}
@media screen and (max-width: 575px) {
  .modal-main__close {
    top: 20px;
    right: 20px;
  }
  .modal-main__content {
    padding: 35px 20px;
  }
  .footer {
    background: url(../img/footer/bgM.png) no-repeat center top, linear-gradient(to bottom, transparent 134px, #0385CA 134px);
  }
  .comments__card {
    min-width: 280px;
    min-height: 350px;
    padding: 20px;
  }
  .comments__card__date {
    font-size: 16px;
  }
  .comments__card__text {
    font-size: 14px;
  }
  .comments__card__name {
    font-size: 16px;
  }
  .comments__card__img {
    margin-right: 20px;
    width: 60px;
    height: 60px;
  }
  .comments__card__header {
    margin-bottom: 20px;
  }
  .fast {
    padding-left: 0;
    padding-right: 0;
  }
  .fast__title {
    padding: 0 20px;
  }
  .steps__subtitle {
    padding: 0 20px;
  }
  .steps__title {
    max-width: 200px;
  }
  .steps__button {
    width: 100%;
    max-width: 300px;
  }
  .steps__card:nth-child(3) .steps__card__text {
    max-width: 200px;
  }
  .steps__img--1 {
    left: -30px;
  }
  .steps__img--2 {
    bottom: 180px;
  }
  .steps__row {
    margin-bottom: 100px;
  }
  .we {
    padding-bottom: 104px;
    margin-bottom: 70px;
  }
  .we__card {
    border-radius: 20px;
  }
  .we__card__content {
    border-radius: 20px;
  }
  .we__card__button {
    width: 100%;
  }
  .we__card__img {
    width: 347px;
    left: 50%;
    right: auto;
    transform: translateX(-50%);
    bottom: -180px;
  }
  .help__img--2 {
    left: -50px;
  }
  .help__img--1 {
    top: 1000px;
    right: -50px;
  }
  .calc__field {
    padding: 10px 20px;
    font-size: 30px;
  }
  .calc__field__text {
    font-size: 30px;
    right: 15px;
    bottom: 13px;
  }
  .calc__row::before {
    display: none;
  }
  .calc__wrap {
    position: relative;
  }
  .calc__wrap--2::before {
    content: "";
    position: absolute;
    left: 0;
    top: -40px;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, transparent, #323232, transparent);
  }
  .calc__wrap__card {
    width: 100%;
  }
  .calc__wrap__card:first-child {
    margin: 0;
    margin-bottom: 35px;
  }
  .calc__wrap__row {
    flex-direction: column;
    align-items: center;
  }
  .advantages {
    padding-top: 120px;
    padding-left: 0;
    padding-right: 0;
  }
  .advantages__row {
    max-width: 386px;
    min-width: 370px;
  }
  .advantages__card {
    width: 185px;
    height: 194px;
  }
  .advantages__card__img--1 {
    transform: translate(30%, -70%);
  }
  .advantages__card__img--2 {
    display: none;
  }
  .advantages__card__img--4 {
    display: block;
    transform: translate(50%, -60%);
  }
  .advantages__card__text {
    font-size: 12px;
    max-width: 108px;
  }
  .advantages__card__content {
    padding: 20px 25px;
  }
}
@media screen and (max-height: 750px) {
  .menu__dialog {
    padding: 100px 50px 50px;
  }
  .menu__logo {
    margin-bottom: 40px;
  }
}