//Muller
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerExtraBold.woff') format('woff'),
    url('../fonts/muller/MullerExtraBold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerBold.woff') format('woff'),
    url('../fonts/muller/MullerBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerMedium.woff') format('woff'),
    url('../fonts/muller/MullerMedium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerRegular.woff') format('woff'),
    url('../fonts/muller/MullerRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Muller';
    src:
    url('../fonts/muller/MullerLight.woff') format('woff'),
    url('../fonts/muller/MullerLight.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

//Opinion
@font-face {
    font-family: 'Opinion';
    src:
    url('../fonts/opinion/OpinionProCondensed-Light.woff') format('woff'),
    url('../fonts/opinion/OpinionProCondensed-Light.woff2') format('woff2');
    font-weight: 350;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Opinion';
    src:
    url('../fonts/opinion/OpinionProExtraCondensed-Light.woff') format('woff'),
    url('../fonts/opinion/OpinionProExtraCondensed-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}