@media screen and ( max-width: 1200px )
    .help
        &__img
            &--1
                top: 800px
                right: calc( 50% - 500px )
            &--2
                left: calc( 50% - 300px )

    .calc
        &__row
            &::before
                left: calc( 50% + 40px )
        &__block
            width: 100%
        &__box
            padding: 40px
        &__img
            &--2
                right: -10px
            &--1
                z-index: 3
                transform: none
                left: 0
                top: 0

    .header
        margin-bottom: -84px
        &__phone
            font-size: 15px
        &__logo
            margin-right: 10px
        &__text
            font-size: 12px
            padding-bottom: 10px
        &__link
            margin-right: 20px

@media screen and ( max-width: 991px )
    .help
        margin-top: -270px
        padding-top: 370px
        padding-bottom: 270px
        &__title
            font-size: 44px
            margin-bottom: 55px
        &__row
            grid-gap: 25px
        &__img
            &--1
                right: 0
            &--2
                left: 0
    
    .calc
        &__button
            width: 100%
            font-size: 16px
            padding: 24px 0
        &__block
            &__title
                margin-bottom: 8px
            &__field
                font-size: 36px
        &__wrap
            width: 100%
            max-width: 500px
            padding: 0
            &--1
                margin-bottom: 70px
            &__text
                text-align: center
            &__row
                margin-bottom: 40px
            &__card
                text-align: center
            &__title
                text-align: center
                font-size: 15px
                margin-bottom: 35px
        &__box
            padding: 100px 20px 50px
        &__title
            text-align: center
            font-size: 44px
            margin-bottom: 30px
        &__row
            flex-direction: column
            align-items: center
            &::before
                width: 100%
                height: 1px
                left: 0
                top: auto
                bottom: 350px
                background: linear-gradient(to right, transparent, #323232, transparent)

    .advantages
        background: url(../img/advantages/bg.png) no-repeat center bottom
        margin-bottom: -100px
        &__card
            margin-bottom: 68px
        &__row
            flex-wrap: wrap
            max-width: 436px
            margin: auto

    .main
        padding-bottom: 270px
        margin-bottom: -150px
        &__wrap
            margin-bottom: 20px
        &__card
            max-width: 240px
            margin-right: 20px
            &__box
                max-width: none
            &__text
                font-size: 13px
            &__title
                font-size: 13px
            &__img
                min-width: 55px
                height: 55px
        &__text
            font-size: 15px
        &__button
            padding: 23px 0
            width: 246px
            font-size: 16px
        &__item
            font-size: 11px
            padding: 14px 26px
            margin-right: 12px
            margin-bottom: 12px
        &__title
            font-size: 44px
        &__container
            background: url(../img/main/imgM.png) no-repeat 80% top
            padding-top: 50px

    .menu
        display: flex

    .header
        &__burger
            display: flex
            flex-direction: column
            justify-content: space-between
        &__logo
            margin-right: 0
        &__phone, &__nav, &__text
            display: none

@media screen and ( max-width: 767px )
    .advantages
        background: url(../img/advantages/bgM.png) no-repeat center top
        padding-top: 80px
        overflow: hidden

    .main
        padding-top: 20px
        padding-bottom: 30px
        background: url(../img/main/bgM.png) no-repeat center
        margin-bottom: -30px
        &__card
            margin-right: 0
            margin-bottom: 25px
        &__footer
            flex-direction: column
            align-items: center
        &__text
            text-align: center
        &__button
            margin-bottom: 18px
            margin-right: 0
        &__button-wrap
            flex-direction: column
        &__wrap
            flex-direction: column-reverse
            align-items: center
        &__item
            margin-right: 0
            text-align: center
        &__box
            margin-left: auto
            margin-right: auto
        &__title
            text-align: center
        &__img
            display: block
            margin-bottom: -20px
        &__container
            background: none

@media screen and ( max-width: 575px )
    .help
        &__img
            &--2
                left: -50px
            &--1
                top: 1000px
                right: -50px

    .calc
        &__field
            padding: 10px 20px
            font-size: 30px
            &__text
                font-size: 30px
                right: 15px
                bottom: 13px
        &__row
            &::before
                display: none
        &__wrap
            position: relative
            &--2
                &::before
                    content: ''
                    position: absolute
                    left: 0
                    top: -40px
                    width: 100%
                    height: 1px
                    background: linear-gradient(to right, transparent, #323232, transparent)
            &__card
                width: 100%
                &:first-child
                    margin: 0
                    margin-bottom: 35px
            &__row
                flex-direction: column
                align-items: center

    .advantages
        padding-top: 120px
        padding-left: 0
        padding-right: 0
        &__row
            max-width: 386px
            min-width: 370px
        &__card
            width: 185px
            height: 194px
            &__img
                &--1
                    transform: translate(30%, -70%)
                &--2
                    display: none
                &--4
                    display: block
                    transform: translate(50%, -60%)
            &__text
                font-size: 12px
                max-width: 108px
            &__content
                padding: 20px 25px

@media screen and ( max-height: 750px )
    .menu
        &__dialog
            padding: 100px 50px 50px
        &__logo
            margin-bottom: 40px